<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>UserApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>ReadUsersServlet</servlet-name>
  	<servlet-class>com.user.servlets.ReadUsersServlet</servlet-class>
  	<init-param>
  		<param-name>dbUrl</param-name>
  		<param-value>jdbc:mysql://localhost/mydb</param-value>
  	</init-param>
  	<init-param>
  		<param-name>dbUser</param-name>
  		<param-value>root</param-value>
  	</init-param>
  	<init-param>
  		<param-name>dbPassword</param-name>
  		<param-value>Venky1234@</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	  <servlet-name>ReadUsersServlet</servlet-name>
  	  <url-pattern>/readServlet</url-pattern>                <!--  when /hello is pressed in url the call goes to HelloServlet class and service() method in it-->
  </servlet-mapping>
  
</web-app>	